* {
    margin: 0;
    padding: 0;
  }
/* header */
    header{
        height: 60px;
        background-color: #000;
    }

    .header-nav{
        position: fixed;
        width: 100%;
        height: 60px;
        z-index: 1000;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;   /* メニューを中央に */
        align-items: center;

        background: #000;
    }

    .header-nav nav{
        margin-right: 5%;
    }

    .colorchange {
        position: absolute;
        left: 5%;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: gray;
    }

    .main {
        padding: 200px 40px 20px;
        min-height:calc(100vh - 110px);
        background:var(--bg-color);
        color:var(--tx-color);
    }
    .content{
        position:relative;
        z-index:3;

        color:var(--tx-color);
        text-align:center;

        top:50%;
        transform:translateY(-50%);
    }

    .live-info {
        text-align: center;
    }

    .playlist-card {
        position: relative;
        display:flex;
        align-items:center;
        gap:40px;
        border: 1px solid #fff;
        border-radius: 4px;

        max-height: 65px;
        max-width: 800px;
        margin:30px auto;
        padding:30px;

        box-shadow:
            0 0 40px rgba(138,43,226,.4);

        background: #fff;
    }

    #predict-setlist-button{
        background-color: #17b717; /* 基本の赤色 */
        color: #ffffff;            /* 文字色：白 */
        border: none;              /* 枠線なし */
        padding: 10px 18px;         /* 余白（上下 左右） */
        font-size: 16px;           /* 文字サイズ */
        border-radius: 8px;        /* 角丸 */
        cursor: pointer;           /* カーソルをポインターに */
        transition: background-color 0.2s ease; /* ホバー時の滑らかな変化 */
        text-decoration: none;
        margin: 5px;
    }

    #predict-setlist-button:hover {
        background-color: #0a820a;
    }

    #predict-setlist-button:active {
        background-color: #045004;
    }

    .artwork-area{
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .song-number{
        font-size:12px;
        font-weight:bold;
        margin-bottom:15px;
        color: #000;
    }

    .playlist-artwork{
        width:60px;
        height:60px;
    
        border-radius:15px;
    
        object-fit:cover;
    }

    .song-info {
        margin-top: 30px;
    }
    .song-info h3{
        font-size: 24px;
        flex:1;

        text-align:left;
        color: #000;
    }

    .song-info p {
        font-size:18px;
        color:#333;

        margin-bottom:30px;
    }

    .song-link a{
        position: absolute;
        top: 40%;
        right: 5%;

        display:inline-block;
    
        padding:10px 20px;
    
        background:#A259FF;
        color:white;
    
        text-decoration:none;
        border-radius:10px;
    
        transition:.2s;

        font-size: smaller;
    }
    
    .song-link a:hover{
        background:#8b3dff;
    }

    button {
        padding: 12px 28px;

        border: none;
        border-radius: 999px;

        background: linear-gradient(
            90deg,
            #7c3aed,
            #c026d3
        );

        color: white;
        font-size: 15px;
        font-weight: bold;

        cursor: pointer;
        margin: 30px;
    }

    button:hover {
        background: linear-gradient(
            90deg,
            #5a1ec3,
            #871497
        );
    }

    button:active {
        background: linear-gradient(
        90deg,
        #38098a
    );
    }

    

    