<!DOCTYPE html> 
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Live Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/thema.css') }}">
  </head>
  <body><!--このbody要素の中に書きます-->
     <header class="header-nav">
        <div class="colorchange">
          <nav><a href="#" id="theme-toggle">Light/Dark</a></nav>
        </div>
        <nav><a href="{{ url_for('home')}}">Home</a></nav>
        <nav><a href="{{ url_for('livelist') }}">Live List</a></nav>
        <nav><a href="{{ url_for('history')}}">History</a></nav>
     </header>
     <div class="hero">
        <div class="overlay"></div>
      
        <div class="content">
          <h1>次のライブを、もっと楽しもう。</h1>
          <p>ライブ予定を登録するだけでAIが予習プレイリストを作成</p>
          <span class="scroll-guide">
            あなたのライブへ<br>
            <span class="arrow">⇩</span>
          </span>
        </div>
      </div>
      <section id="home-section">
        <div class="card-container">
            <div class="card next-live">
              <h3>Next Live</h3>
              <div class="live-empty">
                <div id="live-list"></div>
                <div class="all">
                    <a href="{{ (url_for('livelist'))}}">すべて見る →</a>
                </div>
              </div>
              <div class="setlist-area">
                <h4>AIセトリ予想</h4>
                <div id="predict-setlist"></div>
              </div>
            </div>
        
            <div class="card history">
              <h3>Live History</h3>
              <div class="history-empty">
                <div id="history-list"></div>
                <div class="all">
                    <a href="{{ url_for('history')}}">すべて見る →</a>
                </div>
              </div>
            </div>
          </div>
      </section>

     <script src="{{ url_for('static', filename='javascript/index.js') }}" defer></script>
     <script src="{{ url_for('static', filename='javascript/thema.js') }}" defer></script>
     <footer>
        <small>© 2020 米良諒祐 All Rights Reserved.</small>
     </footer>
  </body>
</html>