<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Live List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/livelist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/thema.css') }}">
  </head>

  <body>
    <header class="header-nav">

      <div class="header-left">
        <a href="{{ url_for('home') }}" class="header-logo">
          <img
      src="{{ url_for('static', filename='images/Re_Live.png') }}"
      alt="Re:Live"
    >
        </a>
      </div>
    
      <nav class="header-center">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('livelist') }}">Live List</a>
        <a href="{{ url_for('history') }}">History</a>
      </nav>
    
      <div class="header-right">
        <a href="#" id="theme-toggle">☀</a>
      </div>
    
    </header>
    <div class="live-list-page">
      <div class="page-header">
        <div class="content">
          <p>LIVE SCHEDULE</p>
          <h1>ライブ一覧</h1>
          <p class="page-description">
            登録したライブ予定を確認・管理できます。
          </p>
        </div>
        <div class="content_button">
          <br>
          <a href="{{ url_for('addlive')}}" class="button add">
            Add Live
          </a>
        </div>

      <section class="live-list">
        <h1>Next Live</h1>

      </section>
      

    <div id="live-list"></div>
    <div id="countdown"></div>

      </div>
    </div>

    <script src="{{ url_for('static', filename='javascript/livelist.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/thema.js') }}" defer></script>

    <footer>
      <small>© 2026 Re:Live All Rights Reserved.</small>
    </footer>

  </body>
</html>