<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>PlayList</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/playlist.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/thema.css') }}">
</head>

<body data-live-id="{{ live_id }}">
  <header class="header-nav">

    <div class="header-left">
      <a href="{{ url_for('home') }}" class="header-logo">
        <img
    src="{{ url_for('static', filename='images/Re_Live.png') }}"
    alt="Re:Live"
  >
      </a>
    </div>
  
    <nav class="header-center">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('livelist') }}">Live List</a>
      <a href="{{ url_for('history') }}">History</a>
    </nav>
  
    <div class="header-right">
      <a href="#" id="theme-toggle">☀</a>
    </div>
  
  </header>
<div class="main">

<div class="content">
  <P>CREATE PLAYLIST</P>
  <h1>プレイリスト作成</h1>
  <p>初心者向け・コアファン向けプレイリストを作成</p>
</div>
  <div id="live-info">
    <p>ライブ情報を読み込んでいます...</p>
  </div>

  <div id="playlist-area"></div>

  <script
    src="{{ url_for('static', filename='javascript/playlist.js') }}"
    defer>
  </script>
  <script src="{{ url_for('static', filename='javascript/thema.js') }}" defer></script>
  </div>
  <footer>
    <small>© 2026 Re:Live All Rights Reserved.</small>
 </footer>
</body>
</html>